#propertyBanner {
    background-color: rgb(73, 71, 117);
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
}

#propertyBanner p {
    width: 50vw;
    height: 100%;
    margin: 0;

}

#propertyBanner h3 {
    height: 100%;
    margin: 0;
    padding-left: 10px;
}

#property {
    justify-content: flex-start;
    align-content: center;
}

#bannerBtns {
    display: flex;
    flex-direction: column;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.deleteBtnGeneral:hover {
    background-color: rgb(227, 99, 99);
    color: rgb(255, 255, 255);
    border-color: white;
}

#allUnits {
    display: flex;
    flex-direction: column;
}

.eachUnit {
    display: flex;
    border: 1px;
}

.eachUnit p {
    border: 1px solid white;
    margin: 0;
    padding: 1px 10px;
    align-content: end;
    height: 30px;
    font-size: 20px;
}

.columnA, .columnB {
    width: 150px;
}

.columnC {
    width: 50px;
}

.columnD {
    width: 500px;
}