#headerSection {
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
}

#propertyBanner{
    background-color: rgb(73, 71, 117);
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: auto;
    align-items: center;
    color: white;
}

#deletePopUp {
    text-align: center;
}